<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LeafLibrary</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>

<body class="d-flex text-center text-white bg-dark body-home">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-left mb-0">LeafLibrary</h3>
                <nav class="nav nav-masthead justify-content-center float-md-right">
                    <a class="nav-link-home active" aria-current="page" href="#">Home</a>
                    <a class="nav-link-home" href="/plants">Plants</a>
                    <% if(!currentUser) { %>
                        <a class="nav-link-home" href="/login">Login</a>
                        <a class="nav-link-home" href="/register">Register</a>
                    <% } else { %>
                        <a class="nav-link-home" href="/logout">Logout</a>
                    <% } %>
                </nav>
            </div>
        </header>

        <main class="px-3">
            <h1>LeafLibrary</h1>
            <p class="lead">
                Welcome to LeafLibrary! <br>
                Browse and discover new houseplants, or <br>
                feel free to add your own plants and record updates of their health.
            </p>
            <a href="/plants" class="btn btn-lg btn-success font-weight-bold">View Plants</a>
        </main>

        <footer class="mt-auto text-white-50">
            <p>&copy; 2024 LeafLibrary</p>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</body>
</html>