.starability-result {
    position: relative;
    width: 150px;
    height: 26px;
    background-image: url("../images/heartgreen.png");
    font-size: 0.1em;
    color: transparent;
  }
  
  .starability-result:after {
    content: ' ';
    position: absolute;
    left: 0;
    height: 26px;
    background-image: url("../images/heartgreen.png");
    background-position: 0 -26px;
  }
  
  .starability-result[data-rating="5"]::after {
    width: 150px;
  }
  
  .starability-result[data-rating="4"]::after {
    width: 120px;
  }
  
  .starability-result[data-rating="3"]::after {
    width: 90px;
  }
  
  .starability-result[data-rating="2"]::after {
    width: 60px;
  }
  
  .starability-result[data-rating="1"]::after {
    width: 30px;
  }
  
  @media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi) {
    /*unfilled hearts in result*/
    .starability-result {
      background-image: url("../images/heartgray.png");
      background-size: 30px auto;
    }

    /*filled heart in result*/
    .starability-result:after {
      background-image: url("../images/heartgreen.png");
      background-size: 30px auto;
    }
  }
  
  @-webkit-keyframes heart {
    0% {
      -webkit-transform: translateY(15px);
              transform: translateY(15px);
      opacity: 1;
    }
    30% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 0.7;
    }
    45% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-transform: scale(1.1, 1.1);
              transform: scale(1.1, 1.1);
    }
    50% {
      -webkit-transform: scale(0.9, 0.9);
              transform: scale(0.9, 0.9);
    }
    80% {
      opacity: 0.9;
    }
    100% {
      -webkit-transform: scale(0.1, 0.1);
              transform: scale(0.1, 0.1);
      opacity: 0;
    }
  }
  
  @keyframes heart {
    0% {
      -webkit-transform: translateY(15px);
              transform: translateY(15px);
      opacity: 1;
    }
    30% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 0.7;
    }
    45% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-transform: scale(1.1, 1.1);
              transform: scale(1.1, 1.1);
    }
    50% {
      -webkit-transform: scale(0.9, 0.9);
              transform: scale(0.9, 0.9);
    }
    80% {
      opacity: 0.9;
    }
    100% {
      -webkit-transform: scale(0.1, 0.1);
              transform: scale(0.1, 0.1);
      opacity: 0;
    }
  }
  
  .starability-heart {
    display: block;
    position: relative;
    width: 150px;
    min-height: 60px;
    padding: 0;
    border: none;
    will-change: contents;
  }
  
  .starability-heart > input {
    position: absolute;
    margin-right: -100%;
    opacity: 0;
  }
  
  .starability-heart > input:checked ~ label,
  .starability-heart > input:focus ~ label {
    background-position: 0 0;
  }
  
  .starability-heart > input:checked + label,
  .starability-heart > input:focus + label {
    background-position: 0 -30px;
  }
  
  .starability-heart > input[disabled]:hover + label {
    cursor: default;
  }
  
  .starability-heart > input:not([disabled]):hover ~ label {
    background-position: 0 0;
    opacity: 0.8;
    background-image: url("../images/heartgray.png");
  }
  
  .starability-heart > input:not([disabled]):hover + label {
    background-image: url("../images/heartgreen.png");
  }

  /*selects all elements before hovered element*/
  .starability-heart > label:nth-last-of-type(n+2):nth-last-of-type(-n+5):has(~ input:hover) {
    background-position: 0 0;
    opacity: 0.8;
    background-image: url("../images/heartgreen.png");
  }
  
  .starability-heart > input:not([disabled]):hover + label::before {
    background-image: url("../images/heartgreen.png");
    opacity: 0.8;
  }
  
  /*.starability-heart > input:focus + label {*/
  /*  outline: 1px dotted white;*/
  /*}*/
  
  .starability-heart .starability-focus-ring {
    position: absolute;
    left: 0;
    width: 100%;
    height: 30px;
    outline: 2px dotted #999;
    pointer-events: none;
    opacity: 0;
  }
  
  .starability-heart > .input-no-rate:focus ~ .starability-focus-ring {
    opacity: 1;
  }
  
  .starability-heart > label {
    position: relative;
    display: inline-block;
    float: left;
    width: 30px;
    height: 30px;
    font-size: 0.1em;
    color: transparent;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 0 -30px;
  }
  
  .starability-heart > label::before {
    content: '';
    position: absolute;
    display: block;
    height: 30px;
    background-position: 0 30px;
    pointer-events: none;
    opacity: 0;
  }
  
  .starability-heart > label:nth-of-type(5)::before {
    width: 120px;
    left: -120px;
  }
  
  .starability-heart > label:nth-of-type(4)::before {
    width: 90px;
    left: -90px;
  }
  
  .starability-heart > label:nth-of-type(3)::before {
    width: 60px;
    left: -60px;
  }
  
  .starability-heart > label:nth-of-type(2)::before {
    width: 30px;
    left: -30px;
  }
  
  .starability-heart > label:nth-of-type(1)::before {
    width: 0px;
    left: 0px;
  }
  
  @media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi) {
    /*hearts before input*/
    .starability-heart > label {
      background-image: url("../images/heartgray.png");
      background-size: 30px auto;
    }
  }
  
  @media screen and (-ms-high-contrast: active) {
    .starability-heart {
      width: auto;
    }
    .starability-heart > input {
      position: static;
      margin-right: 0;
      opacity: 1;
    }
    .starability-heart .input-no-rate {
      display: none;
    }
    .starability-heart > label {
      display: inline;
      float: none;
      width: auto;
      height: auto;
      font-size: 1em;
      color: inherit;
      background: none;
    }
    .starability-heart > label::before, .starability-heart > label::after {
      display: none;
    }
  }

  /*input animation*/
  .starability-heart > label::after {
    content: ' ';
    position: absolute;
    opacity: 0;
    width: 30px;
    height: 30px;
    background-image: url("../images/heartgreen.png");
    background-repeat: no-repeat;
    bottom: 30px;
    left: 0;
    z-index: 2;
  }

  /*animated heart*/
  @media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi) {
    .starability-heart > label::after {
      background-image: url("../images/heartgreen.png");
      background-size: 30px auto;
    }
  }
  
  .starability-heart > input:checked + label::after {
    opacity: 1;
    -webkit-animation-name: heart;
            animation-name: heart;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }

.starability-heart > input.selected + label {
  background-image: url("../images/heartgreen.png");
  background-position: 0 0;
}