<% layout('layouts/boilerplate') %>

<h1 class="text-center mb-5">All Plants</h1>

<div class="container-fluid">
    <div class="row d-flex">
        <% for (let plant of plants) { %>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-5 text-center">
                <div class="card h-100">
                    <img crossorigin="anonymous" 
                         src="<%= plant.images && plant.images[0] && plant.images[0].library_card ? plant.images[0].library_card : placeholder.library_card %>" 
                         class="card-img-top" alt="">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title"><%= plant.common_name %></h5>
                        <div class="mt-auto">
                            <a class="btn btn-success" href="/plants/<%= plant._id %>">Plant Details</a>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</div>