<% layout('layouts/boilerplate')%>
    <h1 class="text-center mb-5">Leaf Library</h1>
   
    <div class="container">
        <div class="row flex justify-content-center">
                <% for (let plant of plants) { %>
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-4 text-center">
                        <div class="card" style="width: 18rem;">
                            <img src="<%= plant.images[0].library_card %>" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title"><%= plant.scientific_name %></h5>
                                <a class="btn btn-success" href="/plants/<%= plant._id %>">Plant Details</a>
                            </div>
                        </div>
                    </div>
                <% } %>
        </div>
    </div>
