<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center mb-3">New Plant</h1>
    <div class="col-6 offset-3">
        <form action="/plants" method="POST">
            <div class="mb-3" >
                <label class="form-label" for="common">Common Name</label>
                <input class="form-control" type="text" id="common" name="plant[common_name]">
            </div>
            <div class="mb-3">
                <label class="form-label" for="scientific">Scientific Name</label>
                <input class="form-control" type="text" id="scientific" name="plant[scientific_name]">
            </div>
            <div class="mb-3">
                <label class="form-label" for="duration">Duration</label>
                <input class="form-control" type="text" id="duration" name="plant[duration]">
            </div>
            <div class="mb-3">
                <label class="form-label" for="date">Date Planted</label>
                <input class="form-control" type="date" id="date" name="plant[date_planted]">
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Add Image(URL)</label>
                <input class="form-control" type="text" id="image" name="plant[image]">
            </div>
            <div class="mb-3 text-center">
                <button class="btn btn-success" >Add Plant</button>
            </div>
            <div class="mb-3 text-center">
                <a href="/plants">All Plants</a>
            </div>
        </form>
    </div>
</div>
